.bottle{
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bottle img{
    width: 200px;
}
p{
    font-size: 14px;
    font-weight: 600;
}
.button{
    background-color: black;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.button:focus{
    outline: none;
}

@media screen and (max-width: 960px){
    .bottle img{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    .bottle img{
        width: 100%;
    }
}